.float-right {
    float: right;
}
button.button-like-link {
    background: none !important;
    color: blue;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
}